// #############################################################################
// Layout
// #############################################################################
$gutter: 20px;


// #############################################################################
// Colors
// #############################################################################
$red:   #ff0033;
$green: #00ff66;
$blue:  #3366ff;
$gray:  #ccc;
$black: #000033; // this is a dark blue to be mainly used for typography

// =============================================================================
// Colors > Misc.
// =============================================================================
$color--selected-background: $red;
$color--selected-text: white;
$color--horizontal-rule: $gray;


$breakpoint-l: 768px;